body{
    margin: auto;
    background-color: #21C1F2;
}

.mainVideo{
    margin: auto;
    margin-top: 50px;
    height: 300px;
    width: 600px;
    background-color: white;
    border: solid 10px black;
}

.videosContain{
    margin:auto;
    height:150px;
    width:700px;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.videosContain div{
    margin: 5px
}

.videos{
    margin: auto;
    border: solid 5px black;
    height: 150px;
    width: 350px;
    background-color: white;

}